.pro-sidebar ul {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: start; /* Align items to the start */
    padding: 0;
    margin: 0;
}

.pro-sidebar li {
    margin-bottom: 10px; /* Add spacing between buttons */
}
.pro-sidebar button {
    display: block; /* Make buttons block-level elements */
    width: 100%; /* Optional: Make buttons full-width */
    margin: 5px 0; /* Add vertical spacing */
}
.menu-container li{
    flex-direction: column; 
}